.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, #c1c8dc, #cfbce6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-card {
  background: #fff;
  padding: 70px 90px;
  border-radius: 20px;
  width: 500px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.auth-card:hover {
  transform: translateY(-5px);
}

.auth-card h2 {
  margin-bottom: 50px;
  color: #333;
  font-size: 35px;
}

form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  width: 109%;
  padding: 20px;
  background: #6e8efb;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

form button:hover {
  background: #5a75d8;
}

.switch-auth {
  margin-top: 80px;
  font-size: 20px;
}

.switch-auth a {
  color: #6e8efb;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.switch-auth a:hover {
  color: #5a75d8;
}

/* الهيدر */
.app-header {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, #afb9e3, #b8a7c9); /* Gradient جذاب */
  color: #242121;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* مساحة محتوى الصفحة عشان الهيدر مايغطيش الفورم */
body {
  margin: 0;
  padding-top: 80px; /* ارتفاع الهيدر */
  background-color: #6f7ca9; /* لون الخلفية كامل */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


